<h1>Inizia chat con <%= @receiver.username %></h1>	

<%= form_for @message do |f| %>
  <%= hidden_field_tag 'receiver_id', @receiver.id %>
  <%= f.label :Inserisci_messaggio %>
	<br>
  <%= f.text_area :body, required: true %>
	<br>
  <%= f.submit 'Invia messaggio' %>
<% end %>

<%= link_to 'Indietro', users_path %>
