<h1>Manda segnalazione all'admin <%= @admin.username %></h1>	

<%= form_for @message_abuse do |f| %>
  <%= f.label :Inserisci_messaggio %>
	<br>
  <%= f.text_area :body %>
	<br>
  <%= f.submit 'Invia messaggio' %>
<% end %>

<%= link_to 'Indietro', root_path %>
