<!--
<div class="col-sm-3 single-post-card" id=<%= report_path(report.id) %>>
  <div class="card">
    <div class="card-block">
-->
      <h5 class="post-text">
        <%= truncate(report.title, :length => 60) %>
      </h5>
      <div class="post-content">
        <div class="posted-by">Posted by <%= report.user.username %></div>
        <h6><%= report.title %></h6> 
        <p><%= report.content %></p>
<!--
      </div>
    </div>
  </div>
</div>
-->
