<!--
<div class="col-sm-3 single-post-card" id=<%= report_path(report.id) %>>
  <div class="card">
    <div class="card-block">
-->
      <h5 class="post-text">
        <%= truncate(report.title, :length => 60) %>,
	<%= report.created_at %>, 
	<div class="posted-by">Posted by <%= report.user.username %></div>
	<% if current_user.present? %>
		<%= button_to "Like", report_like_path(:id => report.id), method: :get %>
	<% end %>
	<h6> Likes: <%= report.num_likes %> <h6>
	<% if can? :delete, report %>
		<%= button_to 'Elimina report', report, method: :delete, data: { confirm: "Vuoi davvero eliminare questo report?" } %>
	<% end %>
      </h5>
      <div class="post-content"> 
        <p><%= report.content %></p>
	<hr>
<!--
      </div>
    </div>
  </div>
</div>
-->
