%h2 Cerca luogo:
= form_tag '#' do
	= text_field '#', placeholder: "Cerca luogo", required: true
	= submit_tag "Cerca", name: nil

%hr/

%h3 Report pi첫 recenti:
= link_to 'Vedi i report pi첫 recenti',  reports_path

%br/ 
%br/ 
%hr/

%h3 Foto pi첫 votate:
= link_to 'Vedi le foto pi첫 votate', '#'
