%h2 Nome utente: #{current_user.username}

%h2 #{current_user.descrizione}

= button_to 'Log out', destroy_user_session_path, :method => :delete

- if current_user.fotoProfilo?
	= image_tag current_user.fotoProfilo.url
- else
	= image_tag current_user.fotoProfilo.default_url

%hr/

= form_tag users_search_path, :method => :get do
	= text_field :user, :username, placeholder: "Cerca utente", required: true
	= submit_tag "Cerca", name: nil

%br/

= link_to 'Invia messaggio a un utente', users_path

%hr/
