%h2 Nome utente: #{current_user.username}
- if current_user.admin?
	%h2 (Amministratore)
%h2 #{current_user.descrizione}

- if !current_user.provider
	= button_to 'Modifica profilo', edit_user_registration_path(current_user), :method => :get

= button_to 'Log out', destroy_user_session_path, :method => :delete

- if current_user.fotoProfilo?
	= image_tag current_user.fotoProfilo.url
- else
	= image_tag current_user.fotoProfilo.default_url

%hr/

= form_tag users_search_path, :method => :get do
	= text_field :user, :username, placeholder: "Cerca utente", required: true
	= submit_tag "Cerca", name: nil

%br/
= link_to 'Invia messaggio a un utente', users_path
%br/
%br/
- if !current_user.admin?
	= link_to "Segnala abuso all'amministratore", new_message_abus_path
- else
	= link_to "Controlla segnalazioni", message_abuses_path
%hr/
