%h2 Nome utente: #{current_user.username}

- if !current_user.provider
	%h2 Descrizione: #{current_user.descrizione}

- if current_user.fotoProfilo?
	= image_tag current_user.fotoProfilo.url
- else
	= image_tag current_user.fotoProfilo.default_url

%p/
= button_to 'Pubblica un nuovo report', new_report_path, :method => :get 
= button_to 'Pubblica una nuova foto', new_photo_path, :method => :get

%hr/

= form_tag users_search_path, :method => :get do
	= text_field :user, :username, placeholder: "Cerca utente", required: true
	= submit_tag "Cerca", name: nil

%br/
= link_to 'Invia messaggio a un utente', users_path
%br/
%br/
- if !current_user.admin?
	= link_to "Segnala abuso all'amministratore", new_message_abus_path
- else
	= link_to "Controlla segnalazioni", message_abuses_path

