<h2>Modifica informazioni</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
  <%= devise_error_messages! %>

	<strong> Email: <%= current_user.email %></strong><br /><br />
	<%= f.hidden_field :email, :value => current_user.email %>

	<div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
  </div><p/>

	<div class="field">
    <%= f.label :descrizione %><br />
    <%= f.text_area :descrizione, autofocus: true, autocomplete: "descrizione" %>
  </div><p/>

  <div class = "field">
    <%= f.label :modifica_la_tua_immagine_del_profilo %><br/>
    <%= f.file_field :fotoProfilo %>
  </div><p/>  

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :new_password %> <i>(lascia in bianco se non vuoi cambiare password)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(inserire la password corrente per poter salvare le modifiche)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div><br />

  <div class="actions">
    <%= f.submit "Salva modifiche" %>
  </div>
<% end %>

<hr>

<% if !current_user.admin? %>
<p><%= button_to "Elimina account", registration_path(resource_name), data: { confirm: "Vuoi davvero eliminare il tuo account?" }, method: :delete %></p>
<% end %>
<%= link_to "Indietro", root_path %>
