%h1 Travelling-People

- if can? :delete, @user
	= button_to 'Elimina utente', @user, method: :delete, data: { confirm: "Vuoi davvero eliminare questo utente?" }

%h2 Profilo di #{@user.username}
%h2 #{@user.descrizione}

- if @user.fotoProfilo?
	= image_tag @user.fotoProfilo.url
- else
	= image_tag @user.fotoProfilo.default_url

%hr/

%h1 link report utente
%h1 link foto utente







