- if can? :delete, @user
	= button_to 'Elimina utente', @user, method: :delete, data: { confirm: "Vuoi davvero eliminare questo utente?" }

%h2 Profilo di #{@user.username}
- if @user.descrizione==""
	%h5 Nessuna descrizione
- else
	%h2 Descrizione: #{@user.descrizione}


- if @user.fotoProfilo?
	= image_tag @user.fotoProfilo.url
- else
	= image_tag @user.fotoProfilo.default_url

%hr/

%h1 Report pubblicati da #{@user.username}:
%ol= render @reports

%br/
%hr/
%h1 Foto pubblicate da #{@user.username}:
- @photos.each do |photo|
	= image_tag photo.image.thumb.url

