<p id="notice"><%= notice %></p>

<p>
  <%= @photo.title %>
</p>

<p>
  <%= image_tag @photo.image.thumb.url %>
</p>

<p>
  <%= @photo.description %>
</p>

<p>
  <strong>Locality:</strong>
  <%= @photo.locality %>
</p>

<p>
  <strong>Author:</strong>
  <%= link_to @user_name, user_path(@photo.user_id) %>
</p>

<%= link_to "Like", photo_like_path(@photo.id) %>
<p>
  Likes:
  <%= PhotoLike.where(photo_id: @photo.id).count %>
</p>
<p>
  <strong>Comments:</strong> <br/>
  <% @comments = PhotoComment.where(photo_id: @photo.id) %>
  <% @comments.each do |comment| %>
    <%= link_to User.find(comment.user_id).username, user_path(comment.user_id) %>:
    <%= comment.content %>
    <br/>
  <% end %>
</p>

<p>
  <%= form_for @photo_comment, html: {multipart: true} do |f| %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :photo_id, :value => @photo.id %>
    <%= f.text_area :content %>
    <br/>
    <%= f.submit "Comment"%>
  </div>
  <% end %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Home', root_path %>
